# backup and update configs
alias dotfiles_backup="bash $HOME/dotfiles/dotfiles_backup.sh"
alias dotfiles_update="bash $HOME/dotfiles/dotfiles_update.sh"

# edit command = nvim
alias edit="nvim"

# set up aliases for flatpak neovim
alias nvim="flatpak run io.neovim.nvim"

# Navigate p number of directories up
alias up="cd .."
alias upp="cd ../.."
alias uppp="cd ../../.."

# Make parent directories on demand
alias mkdir='mkdir -pv'

# Compile with flags
alias compile="cc #Wall #Wextra #Werror"

# Reload terminal
alias reload="source ~/.zshrc"
